.viga-regular {
    font-family: "Viga", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

 *{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    border:none;
    outline: none;
 } 

 .tabcontent {
    display: none;
}

.tabcontent.active {
    display: block;
}

.tablinks.active {
    font-weight: bold; 
}

#Socialmedia{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 50px;
    background-image: url(https://static.vecteezy.com/system/resources/previews/008/224/984/original/seamless-pattern-with-cute-light-blue-stars-on-white-background-image-vector.jpg);
    border-style: solid;
    border-color: rgb(217, 223, 255);
    border-width: 10px;
}

#Home{
    padding: 50px;
}

.tabpane {
    padding:50px;
}

#home-picture img{
    margin-right: 50px;
}

#home-desc{
    padding: 50x;
}

#maindescriptor{
    text-align: center;
}
  

  body {
    font-family: "Viga", sans-serif;
    background-image: url(https://mrwallpaper.com/images/hd/cinnamoroll-cloudy-balloon-7ys6in0dea64mcdg.jpg);
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    padding: 50x;
}  

header{
    width: 100;
    height: 15vh;
    overflow-x: hidden;
    background-image: url(https://png.pngtree.com/background/20210716/original/pngtree-cute-cartoon-pattern-baby-blue-background-picture-image_1348680.jpg);
    border-color: white;
    border-radius: 50px;
    border-width: 5px;
    border-style: solid;
    margin-top: 20px;
    text-align: center;
    padding: 50x;
  

}

footer{
    text-align: center;
}



